
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Print Label</title>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
  </head>
  <style>
    .controls{
      position: fixed;
      left: 25%;
      top: 25%;
      border:1px solid black;
      padding:10px;
      width:50%;
    }
    .head-class-1{
       text-align: center;
    }
    </style>

  <body> 
      <div class="container-fluid controls">
              <h3 class="head-class-1">Print Label</h3>
                <div class="row">
                  <div class="col-sm-offset-3 col-sm-6">
                      <form>
                            <div class="form-group">
                              <!-- <label for="select-product-id">Product</label> -->
                                  <select class="form-control" id="select-product-id">
                                    <option value="none">Select Product</option>
                                    <% productList.forEach((product) => { %>
                                      <option value= <%=product.id%> ><%=product.name%> X <%=product.packets_per_carton%> pkts</option>
                                  <% }); %>
                                </select>
                            </div>
                            <div class="form-group">
                                <!-- <label for="carton-count-id">No. of Cartons</label> -->
                                <input type="number" class="form-control" placeholder="No. of cartons" id="carton-count-id"  min="1" step="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57" onpaste="return false"/>
                            </div>
                            <div class="form-group">
                                <!-- <label for="generateLabel-id">Generate</label> -->
                                <button type="button" class="btn btn-primary"  id="generateLabel-id"> Generate</button>
                            </div>
                      </form>
                 </div>
              </div>

        </div>
      
    <script>
    <%- include('/JS/renderer.js') %>
    </script>
      </body>
</html>